{% include 'base/header.html' %} {% block content %}
    {% if user.is_authenticated %}
          <!-- Button trigger modal -->
      <a href="{% url 'create_deal' %}" class="btn btn-primary mb-4 mx-2">create Your Deal</a>
      <a href="{% url 'dashboard' %}" class="btn btn-primary mb-4 mx-2">Go to dashboard</a>
      <table id="apTable" class="table table-bordered table-striped">
        <thead class="table-danger">
          <tr>
            <th>Sr no.</th>
            <th>Doctor name:</th>
            <th>Product Name:</th>
            <th>Quantity:</th>
          </tr>
        </thead>
        
        <tbody>
        {% for obj in deal_d %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ obj.doctor_name.dname }}</td>
            <td>{{ obj.Product_name }}</td>
            <td>{{ obj.quantity }}</td>
          </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <h4> No Products Added in cart....</h4>
        {% endif %}
      </table>
      <script>
        let table = new DataTable('#apTable');
      </script>
{% endblock %} {% include 'base/footer.html' %}
s