{% include 'base/header.html' %}
    {% block content %}      
    <!-- Modal -->
    <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="text_productname" class="form-label">Product Name: </label>
            <br/>
            {{ pform.product_name }}
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Product Comapny Name: </label>
            <br/>
            {{ pform.product_company_name }}
          </div>
          <div class="mb-3">
            <label for="exampleFormControlFile1">Example file input</label>
            <br/>
            {{ pform.product_image }}
            <br/>
          </div>
          <div class="mb-3">
            <label for="text" class="form-label">Product Price:</label>
            <br/>
            {{ pform.product_price }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    {% endblock %}